@import url('main.css');

@media screen and (max-width: 2024px) {

    .image-omoss {
        background-image: url('../assets/images/utsidan.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text-omoss {
        color: white;
        font-size: 8rem;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-style: normal;
    }

    article {
        padding: 3rem;
    }

    .mat-o-dryck-multiple {
        border-radius: 15px;
        display: block;
        margin: auto;
    }
}