@media screen and (min-width: 1024px) {

    :root {
        /* Colors */
        --blackish: #333333;
        --white-text: white;
        /* background */
        --bgc-black: #222222;
        --bgc-white: white;
        /* Font */
        --font-size-xl: 40px;
        --font-size-large: 30px;
        --font-size-header: 22px;
        --font-size-text: 18px;
        --font-weight: bold;
        /* Border */
        --border: 1px solid black;
        --border-radius: 15px;
        /* Padding */
        --padding-socials: 12px 24px;    
    }

    .h-style-xl {
        font-size: var(--font-size-xl);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;        
    }

    .h-style-large {
        font-size: var(--font-size-large);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;        
    }

    .h-style-whitetext {
        font-size: var(--font-size-text);
        color: var(--white-text);
        font-family: 'Raleway', sans-serif;
    }

    h3 {
        font-size: var(--font-size-header);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;
    }

    p {
        font-size: var(--font-size-text);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;
        width: ;
    }

    blockquote {
        font-size: var(--font-size-text);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;
    }

    .socialf {
        font-size: var(--font-size-text);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;
        background-color: var(--bgc-white);
        color: var(--blackish);
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--padding-socials);
    }

    .social {
        font-size: var(--font-size-text);
        color: var(--blackish);
        font-family: 'Raleway', sans-serif;
        background-color: var(--bgc-black);
        color: var(--white-text);
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--padding-socials);
    }

    body {
        margin: 0;
    }

    main {
        width: min(100% - 4rem, 1250px);
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        vertical-align: middle;
        font-style: italic;
    }

    header {
        height: 80svh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
       }

    .image {
        background-image: url('../assets/images/start.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        height: 80px;
    }

    .logo {
        height: 63px;
    }

    .text {
        color: white;
        font-size: 4rem;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-style: normal;

    }

    .menu {
        width: min(100% - 4rem, 1250px);
        margin: 0 auto;
    }
  
    .top-ul {
        list-style-type: none;
    }

    li {
        display: flex;
    }

    .container-start {
        display: flex;
        justify-content: space-evenly;
        padding-top: 6rem;
        padding-bottom: 7rem;
    }

    .container-start > div {
        display: flex;
        width: 48%;
        height: 250px;
        border-radius: 15px;
    }

    .bakfickan {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/images/bakfickan.jpeg');
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text-bakfickan {
        color: white;
        font-size: 3rem;
        font-family: "Raleway", sans-serif;
        padding: 80px 40px;
    }

    .scenen {
        background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/images/scenen.jpeg');
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text-scenen {
        color: white;
        font-size: 3rem;
        font-family: "Raleway", sans-serif;
        padding: 110px 40px;
    }
 
    .mat-o-dryck {
        display: flex;
        justify-content: center;


        border-radius: 15px;
        height: 350px;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../assets/images/mat-o-dryck.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text-mat-o-dryck {
        line-height: 100%;
        color: white;
        font-size: 3.5rem;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-style: normal;
        padding: 4rem;
    }

    .text-soc-medier {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .container-mat-o-dryck-multiple {
    }

    .mat-o-dryck-multiple {
        /* display: block;
        margin: auto; */
    }

    footer {
        background-color: #222222;
        height: 340px;
        width:100%;
    }

    .footer-ul {
        list-style-type: none;
        padding: 40px 51px 0px;
    }

    .footer-ul > li {
        a:link, a:visited {
            color: white;
            text-decoration: none;
          }
    }
}